img{
    height: 180px;
    width: 310px;
    background-color: rgb(0, 0, 0);
    float: left;
}
.header{
    height: 180px;
    width: 899px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    float:left;
    text-shadow: 2px 2px 10px red;
}
header:hover{
    color: rgb(124, 235, 235);
    transition-duration:3s ;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: 0;
    background-color: white;
    height: 50px;
    width: 1520px;
    color: rgb(0, 0, 0);
}
li{
    float: left;
    padding-top: 7px;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color: white;
}
li a{
    color: rgb(16, 211, 211);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li:active{
    background-color: rgb(126, 117, 117);
    border-radius: 100px;
    
}
li:hover{
    color: rgb(14, 134, 134);
    transition-duration: 1s;
    text-shadow:2px 2px 3px rgb(124, 120, 120) ;

}
h5{
    color: rgb(136, 131, 131);
    background-color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    border-radius: 45px;
    height: 180px;

}
.somnath{
    height: 250px;
    width: 380px;
    border-radius: 50px;
}
h2{
    padding-left: 900px;
    font-size: 30px;
}
h6{
    font-size: 18px;
    padding-left: 410px;

}
.dwarka{
    height: 250px;
    width: 380px;
    border-radius: 50px;
}
.akshardham{
    height: 250px;
    width: 380px;
    border-radius: 50px;
}
.gir{
    height: 250px;
    width: 380px;
    border-radius: 50px;   
}
.saputara{
    height: 250px;
    width: 380px;
    border-radius: 50px;   
}
.vadodara{
    height: 250px;
    width: 380px;
    border-radius: 50px;
}
.desert{
    height: 250px;
    width: 380px;
    border-radius: 50px;
}